<%- include('partials/header') %>

<body>
  <form class="" action="/gogaga/add.html" method="post">

    <div class="form-group">
      <label  for="newfriend">Add new friend</label>
      <input type="text" class="form-control" name="friend" required>
    </div>
    <button  type="submit" class="btn btn-dark">Add to friends list</button>
  </form>
  
  <!-- <button  type="button" class="btn btn-dark" href="/gogaga/list.html" role="button">View your friends</button -->
</body>

<%- include('partials/footer') %>
