
<%- include('partials/header') %>

  <body>
    <div class="jumbotron centered">
      <div class="container">
        <i class="fas fa-user-friends fa-3x"></i>
        <h1 class="display-3">Hola..!</h1>
        <p>click "See friends" to see friends list</p>
        <hr>
          <a class="btn btn-light btn-lg" href="/gogaga/list.html" role="button">see friend</a>
      </div>
    </div>
  </body>

    <%- include('partials/footer') %>
