
<%- include('partials/header') %>
<body>
    <div class="jumbotron centered">
      <div class="container">
          <i class="fas fa-user-friends fa-6x"></i>
        <h1 class="display-3">Friends List</h1>
        <ul>

      <%    for(var i=0; i<NewFriends.length; i++){%>

            <li><%= NewFriends[i] %></li>
        <%  }%>
        </ul>
        <hr>
          <a class="btn btn-light btn-lg" href="/gogaga/add.html" role="button">Add Friend</a>
          <a class="btn btn-light btn-lg" href="/gogaga" role="button">Log Out</a>
      </div>
    </div>

  </body>


  <%- include('partials/footer') %>
